{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'createT/style.css' %}">
    <meta charset="utf-8">
    <title>Turnois</title>
  </head>
  <body>

    <!-NAVBAR START-!>

      {% include "createT/navbar.html" %}

    <!-NAVBAR START-!>




      <div class="d-flex justify-content-center h-100">
        <div class="user_card" id="tournamentInfo">
          <div class="d-flex justify-content-center">
            <h3 id="form-titleInfo">TOURNAMENT INFO</h3>
          </div>



            <ul>
              <li><label for="fname">Tournament:</label> {{tournaments.name}}</li>
              <li><label for="fname">Winning Prize:</label>{{tournaments.Prize}}</li>
              <li><label for="fname">Category:</label> {{tournaments.Tournament_Type}}</li>
              <li><label for="fname">Start Date:</label> {{tournaments.dateStart}}</li>
              <li><label for="fname">End Date:</label> {{tournaments.dateEnd}}</li>
              <li><label for="fname">Location:</label> {{tournaments.location}}</li>
              <li><label for="fname">Registration Price:</label> {{tournaments.regPrice}}</li>
              <li><label for="fname">Person Per Team:</label> {{tournaments.PpT}}</li>
            </ul>

            <div class="d-flex justify-content-center mt-3 login_container">
                <a class="btn login_btn" href="{% url 'tournamentSubmit' tournaments.id %}" role="button">Submit</a>
            </div>



        </div>
      </div>




  </body>


</html>
